.proj-10 {
    font-weight: bold;
    background-color: #ebc75e!important;
    border-color: #ebc75e!important;
}
.proj-10:hover {
    transition: .3s;
    background-color: #daa806!important;
    border-color: #daa806!important;
}

.proj-10:active {
    background-color: #cf9f03!important;
    border-color: #cf9f03!important;
}

.proj-30 {
    font-weight: bold;
    background-color: #6e85eb!important;
    border-color: #6e85eb!important;
}
.proj-30:hover {
    transition: .3s;
    background-color: #445396!important;
    border-color: #445396!important;
}
.proj-30:active {
    background-color: #445396!important;
    border-color: #445396!important;
}