.welcome-outer-div {
  margin-right: auto;
  left: 0;
  height: 100vh;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome h1,
.welcome p {
  background-color: #ebebff;
  border-radius: 10px;
  width: fit-content;
  margin: 5px auto;
  padding: 1vh 1vw;
}

.welcome h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.welcome-button {
  width: 140px;
}


.feedback-left {
  height: 33vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  border: 3px solid #ebc75e;
}
.pet-card {
  margin: 1vh 0vw;
  border: 3px solid #6e85eb;
  min-height: 33vh;
}

.pet-name {
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.pet-owner {
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
}
.feedback-desc {
  height: 20vh;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.app-container {
  padding: 2vh 2vw;
  border-radius: 20px;
}
.app-container div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.app-container p {
  width: 40vw;
}
.app-img {
  border-radius: 20px;
  border: 3px solid #ffffff;
}