.profile {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-img {
  border: 1px solid #ebc75e;
  width: 80%;
  height: auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #445396;
}

.profile-options a {
  cursor: pointer;
}

.profile-pet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-pet div {
  height: 18vh;
  line-height: 18vh;
}

.pet-carousel {
  border: 1px solid #6e85eb;
}

.new-pet {
  color: #ebc75e;
}
.form-check-input:checked {
  background-color: #ebc75e!important;
  border-color: #ebc75e!important;
}
.pet-removal-checkbox span {
  background-color: #a2b1f1!important;
}