#date-column,
#cost-column,
#brand-column,
#amount-column,
#pet-column {
  cursor: pointer;
}
#edit, #delete, #date-column, #cost-column, #brand-column, #amount-column, th {
  color: #000!important;
}

#edit:hover, #delete:hover {
  transition: .3s;
  color: #ebc75e!important;
}

.filter-button {
  width: 130px;
}
.pet-button {
  margin: 1vh 1vw;
  border-radius: 0.35vw;
  cursor: pointer;
  color: #fff;
}

.unselected {
  opacity: 0.5;
}
.selected {
  opacity: 1;
}

.table-arrow {
  cursor: pointer!important;
}
.table-arrow-desc {
  cursor: pointer!important;
  transform: rotate(180deg);
}

.table-arrow-current {
  color: #ebc75e!important;
}