#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.proj-10-bg {
  background-color: #ebc75e;
}
.proj-10-txt {
  color: #ebc75e;
}
.proj-30-bg {
  background-color: #6e85eb;
}
.proj-30-txt {
  color: #6e85eb;
}
.c-pointer {
  cursor: pointer;
}

span {
  background-color: #6e85eb;
  padding: 0px 5px;
  margin: 0px 5px;
  border-radius: 5px;
  color: #ffffff;
}
