#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

.form-label {
  width: 300px;
}

.form-input {
  width: 200px;
}

span {
  background-color: #00f391;
  padding: 0px 5px;
  margin: 0px 5px;
  border-radius: 5px;
  color: #ffffff;
}

.full-screen {
  height: 100vh;
  border: 1px solid black;
  background-color: #ffffff;
}

.footer {
  width: 98vw;
  margin: 0;
  padding: 0;
  height: 10vh;
  align-items: center;
  position: absolute;
  left: 0;
}
.welcome {
  align-items: center;
}
#date-column, #cost-column, #brand-column, #amount-column {
  cursor: pointer;
}
.bg-1 {
  background-color: #00f391;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100vw;
  height: 240vh;
  max-height: 100%;
  max-width: 100%;
}
.dashboard-container {
  border: 1px solid #00f391;
  border-radius: 10px;
}
.dashboard-container:hover {
  transition: 0.5s;
  background-color: #bdffb6;
}
.dashboard-summary {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-summary h6 {
  font-size: 14px;
}
.dashboard-redirect {
  height: 9vh;
  justify-content: space-around;
  align-items: center;
  line-height: 9vh;
  margin-top: 10px;
}
.dashboard-chart {
  height: 60vh;
  margin-bottom: 10px;
}
.dashboard-chart-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
canvas {
  max-height: 300px;
}