.proj-10 {
    font-weight: bold;
    background-color: #ebb915!important;
    border-color: #ebb915!important;
}
.proj-10:hover {
    transition: .3s;
    background-color: #daa806!important;
    border-color: #daa806!important;
}

.proj-10:active {
    background-color: #cf9f03!important;
    border-color: #cf9f03!important;
}

.proj-30 {
    font-weight: bold;
    background-color: #00f391!important;
    border-color: #00f391!important;
}
.proj-30:hover {
    transition: .3s;
    background-color: #17cb83!important;
    border-color: #17cb83!important;
}
.proj-30:active {
    background-color: #35ca8e!important;
    border-color: #35ca8e!important;
}